body {background-color: rgb(141, 141, 141);
        color: #1d1d1d;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
    
    h1 {font-family: 'Rubik Iso', cursive;
        font-size: 60px;
        text-align: left;}
        header h1 {text-align: center;}
        h2{font-size: 40px;
            padding-bottom: 4%;}
                h3{font-size: 30px;}
                h1,h2,h3 {font-weight: normal;
                             font-style: italic;
                            }
    p {line-height: 2;
        font-size: large;
    padding-bottom: 1%;}
    a {
        color: rgb(15, 15, 15);
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
      h3 p {font-size: large;}
    .container {
        max-width: 1000px;
        margin: 0 auto;
      }
      .box {
        background-image: url(images/painting-back.jpg);
        background-repeat: no-repeat;
        width: 100px;
        height: 100px;
      }
    .banner {
        height: 350px;
        background-image: url(images/codioful-formerly-gradienta-26WixHTutxc-unsplash\ \(Medium\).jpg);
        background-size: cover;
        background-position: center;
      } 
      div .container{padding: 5%;}
      